.form-body{
  padding: 5rem;
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .contact-container{
    margin: 15rem;
    padding: 18px;
    z-index: 2;
    position: relative;
    margin-bottom: 100px;
    background-color: rgb(0, 0, 0);
}
  

  .head{
    display: flex;

  }
  .head-contact{
    /* box-sizing: border-box;
    background-color: rgb(0,0,0); */
  }
  .css-contact-us{
    font-size: 3.5rem;
    color: #fff;

  }
  form{
    /* display: block; */
    margin-top: 0em;
  }
 
  .input-container{
    border:0;
  }
  
  
  .form-input-container{
    display: flex;
    
    
  }
  .form-input-container > input{
    flex-grow: 1;
    padding:3rem;
    margin: .5rem;
    height: 2rem;
    
    
  }
  .button.default{
    padding:2rem;
    margin: .7rem;
    margin-left: 25rem;
    height: 2rem;
    width: 70%;
    background-color: #e50914;
      /* border: 0; */
      color: #fff;
     
  }
  .send{
    
    font-size:large;
    
  }

